
@{
  ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <h4>
                <u>About Me</u>
            </h4>
        </div>
        <div class="col-md-8">
            <p>
                My Name is Roshan Kumar Jha and I'm a Software Engineer living in the heart of Bangalore, India. I have over 2 year of experience working in web development. Previously, I worked as a project engineer at Wipro Technologies.<br />
                Improving products and services for our customers by using advanced analytics, creating and maintaining software systems.<br /><br />

                Currently, I am working at Alligator Software India Pvt. Ltd. where I am working as a Dot Net Developer to implement backend systems using Dot Net Technologies and Jquery to handle front end events.
                <br /><br />
                @*Competencies: C#, ASP DOT NET, MVC, Web Services, WCF, SQL, T-SQL, Linq, JavaScript, JQuery.
                Relevant Competencies: Data Structures, Algorithms, Xamrin,Titanium.*@
            </p>
            <p>
                I am a tech enthusiast. I love to learn new technologies.
                I have working experience on Classic ASP, CMS, MVC, Titanium & MS Access in 2 years of profession journey.
            </p>
            <div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4><u>Educational Details</u></h4>
        </div>
        <div class="col-md-8">
            My Highest Education is B. Tech in Information Technolgy from Muzaffarpur Institute of Technology, A Govt. of Bihar Undertaking.<br />
            <br />
            I have completed my schooling(+2) in Delhi.<br />
            Matriculation & Secondary education: Govt. Sarvodaya Co-Ed Vidyalaya, New Multan Nagar, Delhi-110056.
        </div>
    </div>
</div>

