
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center">
        <h3>
            Hi, I'm Roshan Jha.
        </h3>
        <h5>
            Dot Net Developer with 2 years of professional experience in Microsoft Technologies.
            Programmer, Geek, Card Player and loves Data Structure and Algorithm magic.
        </h5>
    </div>
    <div>
        <div class="col-md-4">
            <img class="" src="~/Images/me.jpg"/>
        </div>
        <div class="col-md-8">
            <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                Educational Detail:
            </h3>
            MIT Muzaffarpur, Bihar
            Bachelor of Information Technology • June 2015

            Relevant Coursework
            Data Structure, Algorithm Designing, Object-Oriented Design, C# Programming,
            Networking.
        </div>
    </div>
</div>