
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="font-family:Calibri">
            <h4>Let's walk through some of my projects</h4>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h3>verycoolrooms</h3>
        </div>
        <div class="col-md-8">
            •A hotel room booking website built on CMS(Mojo Portal)<br />
            <p><h4>Technologies Used:</h4></p>
            •ASP .Net(.aspx), MSSQL,JQuery,HTML,CSS,Ajax.
            <p><h4>My Contribution:</h4></p>
            <p>I was a part of 4 membered team where my job was to develop five(list, Add, Edit) screens.</p>
            <p>After development of screen i needed to do unit testing on screens.</p>
            <p>I was also responsible for doing peer review for my team members.</p>
            <p><h4>Website Link</h4></p>
            <a href="https://www.verycoolrooms.com" target="_blank">verycoolrooms.com</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"><h3>HRMS</h3></div>
        <div class="col-md-8">
            <p><h4>Human Resource Management System</h4></p>
            <p>A internal company website for Alligator Software India Pvt. Ltd. to manage it's employees.</p>
            <p><h4>Technologies Used:</h4></p>
            •ASP .Net MVC, MSSQL,JQuery,HTML,CSS,Ajax.
            <p><h4>My Contribution:</h4></p>
            <p>I was a part of 4 membered team where my job was to develop three(list, Add, Edit) screens.</p>
            <p>After development of screen i needed to do unit testing on screens and also work on design.</p>
            <p>I was also responsible for doing peer review for my team members.</p>
            <p>Beacause i was the senior member in the team so i was also helping my team members when they needed.</p>
            <p>Helped in implementing some unique requirements.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"><h3>Michuda Inc.</h3></div>
        <div class="col-md-8">
            <p>A mobile and web application built on Titanium Appcelerator to manage it's and contractor employees.</p>
            <p>This app was basically to manage employees work hours,meeting,trainings and projects.</p>
            <p><h4>Technologies Used:</h4></p>
            •Titanium(JavaScript),HTML,CSS,Ajax,MSSQL,SQLite and ASP .Net Web Services.
            <p><h4>My Contribution:</h4></p>
            <p>As part of three membered team i was responsible for implementing change requirements on existing app.</p>
            <p>In the absence of team lead i was also responsible for development and management of team member.</p>
            <p>I helped team in finishing the task on time when a hurdle in development was slowing down the workflow.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"><h3>Portfolio</h3></div>
        <div class="col-md-8">
            <p>A  web application built on MVC</p>
            <p>This application contains professional infomation about me and solutions to <a href="https://www.hackerrank.com" target="_blank">Hacker Rank</a> problems.</p>
            <p><h4>Technologies Used:</h4></p>
            •MVC,HTML,CSS,Bootstrap,Jquery.
            <p><h4>My Contribution:</h4></p>
            <p>I developed this whole application and also responsible for management of the site content.</p>
        </div>
    </div>
</div>
