
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4>
                <u>Education</u>
            </h4>
        </div>
        <div class="col-md-8">
            <p style="text-align:left">
                <h4>
                    B.Tech MIT, Muzaffarpur, Bihar. June 2015.
                </h4>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4>
            </h4>
        </div>
        <div class="col-md-8">
            <p style="text-align:left">
                <h4>
                   Matriculation, Govt. Sarvodaya Co-Ed Vidyalaya with 83.4%.
                </h4>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4></h4>
        </div>
        <div class="col-md-8">
            <p style="text-align:left">
                <h4>
                    Secondary Education, Govt. Sarvodaya Co-Ed Vidyalaya with 69%.
                </h4>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h4>
                <u>Relevant Coursework</u>
            </h4>
        </div>
        <div class="col-md-8">
           <p>
               Data Structure, Algorithm Designing, Object-Oriented Design, C# Programming,
               <br />
               Database Systems, Networking.
           </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4>
                <u>Activities</u>
            </h4>
        </div>
        <div class="col-md-8">
            <p>
                •Co-Founded the Technical Club of the college that organized the 1st Technical Fest of the college.<br />
                •Successfully assisted the College Placement Cell in attracting twice as many companies during hiring season than those participated the last year.<br />
                •Served as a core member of the Planning Team at the college that organized its first ever Alumni Meet in over 10 years.<br />
                •Completed C# Certification from NIIT, Pitampura, New Delhi.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4>
                <u>Work</u>
            </h4>
        </div>
        <div class="col-md-8">
            <h2>
                Wipro Technologies(Nov, 2015- Oct, 2016)<br />
                Project Engineer
            </h2>
            <p>
                •Got trained in Wipro Tech. on Dot Net and scored 85% in evaluation test.<br />
                •After that worked on ASP Dot Net and created an online resume system, a website like Naukri.com<br />
                •Worked in support and maintenance of softwares.<br />
                •Worked in remote server monitoring.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4>
            </h4>
        </div>
        <div class="col-md-8">
            <h2>
                Alligator Software India Pvt. Ltd.(Oct, 2016- Now)<br />
                Sofware Engineer II
            </h2>
            <p>
                •Worked on MVC 4 and Content Management System.<br />
                •Proven experience on Titanium, Contributed in "Michuda Inc." mobile app.<br />
                •Implemented different dropdowns for Mobile and Desktop application of Michuda Inc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h4>Skills</h4>
        </div>
        <div class="col-md-8">
            <p><h3>Data Structure</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                </div>
            </div>
            <p><h3>Algorithms</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                </div>
            </div>
            <p><h3>C#</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    80%
                </div>
            </div>
            <p><h3>MVC</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    80%
                </div>
            </div>
            <p><h3>Linq</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                    60%
                </div>
            </div>
            <p><h3>JQuery</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                </div>
            </div>
            <p><h3>Titanium</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                    60%
                </div>
            </div>
            <p><h3>CMS</h3></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                   80% 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="https://drive.google.com/file/d/0B0y_BTwPg55reWhzOGJ5cDFtbzA/view?usp=sharing" target="_blank"><img src="~/Images/resume-button.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

